.container-report.columns class="small-#{size}"
  button.change-quantity type="button" = '+'
  .container-info
    = container_report_form.text_field :quantity
    /.continer-quality= 0
    = container_report.container.name
  button.change-quantity type="button"= '-'
