<div class='container-report'>
  <div class='change-quantity'>
  </div>
  <div class='container-info'>
    <p class='container-quantity'>
      <%= supplier_report.quantity %>
    </p>
    <p class='container-description'>
      <%= supplier_report.container.name %>
    </p>
  </div>
  <div class='change-quantity'>
  </div>
</div>