.change-quantity-plus, .change-quantity-minus {
  background-color: $gainsboro;
  padding: rem-calc(5) 0;
  width: 100%;
  height: rem-calc(50);
  margin: 0;
  font-size: rem-calc(30);

  &:hover, &:focus{
    background-color: $gainsboro;
  }
}

.pickup-report {
  margin-top: rem-calc(40);
}

.supplier-title {
  margin-top: rem-calc(20);
  background-color: #BA542E;
  width: 100%;
  text-align: center;
  font-size: rem-calc(30);
  color: #FFFFFF;
}

.food-type-report {
  margin-top: rem-calc(20);
  margin-bottom: rem-calc(50);
}

.container-reports {
  .container-report {
    .container-info {
      font-size: rem-calc(24);
    }
    .container-quality {
      font-size: rem-calc(50);
      line-height: rem-calc(80);
      height: rem-calc(65);
    }
  }
}

.submit-report-container {
  height: rem-calc(100);

  input[type='submit'] {
    border: none;
    font-size: rem-calc(54);
    background-color: #F9AF2A;
    color: #5C5344;
    text-shadow: 1px 1px 0px #FFFFFF;
    height: 100%;
    width: 100%;
  }
}

.other--text-area {
  border: none;
  font-size: rem-calc(20);
}

footer {
  height: rem-calc(30);
  font-size: rem-calc(12);
  text-align: center;
  color: white;
  line-height: rem-calc(30);
  background-color: #BA541E;

  span {
    margin: 0 rem-calc(3);
  }
}
