#summary_table_wrapper {
 width  : 85% !important;
 margin : auto auto !important;

 .dataTables_filter {
    display: none;
 }

  #summary_table {
    * {
      font-size   : 0.8rem;
      line-height : 1.2rem;
    }
    tr:hover {
      background : #c9c9c9;
    }
  }
}

tr.pickup-report {

 &.unapproved{
  background: #f8d0d0;
 }

 .options {
  .modify_approval {
    color: white;
    width: 70px;

    // &[data-approved='false']{
    //  @extend .alert;
    // }
    //
    // &[data-approved='true']{
    //  @extend .success;
    // }
  }
 }

}
