.top-bar {
  text-align: center;
  padding: 0 rem-calc(10);
  margin-bottom: 5px;

  @include clearfix;
}
.top-bar__logo {
  width: rem-calc(148);
  height: rem-calc(100);
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.top-bar__username {
  float: right;
  display: inline-block;
}

.top-bar__date {
  float: left;
  display: inline-block;
}

.top-bar__supplier-title {
  position: relative;
  z-index: 2;
  background-color: #BA542E;
  text-align: center;
  font-size: rem-calc(30);
  color: #FFFFFF;
}
